html{
    box-sizing: border-box;
}

*, 
*::after,
*::before{
    box-sizing: inherit;

}

body{
    padding: 0;
    line-height: 1.5;
    font-size: 16px;

}

h1{
    margin: 0;
}

img{
    // display: inline-block;
    height: auto;
    vertical-align: middle;
}
.btn{
    width: 100%;
    margin: 10px 2px;
    padding: 2px 6px;
    border: 2px solid $dark50;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.897);
    &:hover{
        border: 2px solid rgb(0, 247, 255);
        transition: 0.5s;
    }
    
}


