.footer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 3px;
    background-color: $dark;
   &__link{
       a{
        text-decoration: none;
        h1{
        background: -webkit-linear-gradient(rgb(9, 255, 0), rgb(109, 175, 164));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
       }
   }
   &__fasten{
       background-color: transparent;
       a{
           padding: 0 5px;
           text-decoration: none;
           &:hover img{
               width: 30px;
               height: 30px;
               transition: 0.8s;
           }
           img{
               width: 25px;
               height: 25px;
           }
       }
   }
}